doctype html
head
  title Uni Kaksha
  meta(name='viewport' content='width=device-width, initial-scale=1')
table(width='600' align='center' cellpadding='0' cellspacing='0')
  tr
    td(style=' text-align: center; text-align: center;\
    display: inline-block;\
    width: 100%;\
    padding: 50px 0;\
    ')
      img.logo(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/images/img-logo.png' alt='Alaska Cruise Experts' style='text-align: center;\
      display: inline-block;\
      ')
  tr
    td
      table(width='550' align='center' cellpadding='0' cellspacing='0' style="background: linear-gradient(0deg, #FFFFFF, #FFFFFF);\
      border-radius: 20px 20px 0px 0px;font-family: 'product_sansregular';")
        tr
          td(height='30')
        tr
          td(height='15')
        tr
          td(style="font-family: 'product_sansregular'; font-size:14px; text-align: center;font-size: 12px;\
          line-height: 12px;\
          color: #2A263E;\
          opacity: 0.5;")
            | Thank you for enrollment
        tr
          td(height='25')
        tr
          td(style=" font-family: 'product_sansbold'; font-size:14px; text-align: center;font-size: 26px;\
          line-height: 12px;\
          color: #2A263E;\
          ")
            | Enrollment Successful!
        tr
          td(height='30')
        tr
          td(style="font-family: 'product_sansregular'; font-size:14px; color: #2A263E; text-align: center;font-weight: bold;\
          font-size: 26px;\
          line-height: 30px;")
            img(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/images/bg-enroll.png')
        tr
          td(height='15')
        tr
          td(style="font-family: 'product_sansregular';\
          font-size: 12px;\
          color: #2A263E;\
          line-height: 28px;\
          text-align: center;\
          letter-spacing: 0.01em;") Thanks for enrollment with uni kaksha
        tr
          td(height='15')
        tr
          td(style="font-family: 'product_sansregular'; font-size:14px; color:#2c210b; line-height:24px;text-align: center;")
            | Our Best,
            br
            span(style="font-family: 'product_sansbold';" ) Uni kaksha and the team
         tr
          td(height='15')
        tr
          td(height='15')
        tr
          td
            table(width='30%' align='center' cellpadding='0' cellspacing='0' style='border-top:1px rgb(43, 39, 63 ,0.1) solid;')
              tr
                td(width='100%')
                  table(width='100%' align='center' cellpadding='0' cellspacing='0')
                    tr
                      td(height='20' colspan='6')
                    tr
                      td.half(align='center')
                        a(href='https://www.facebook.com/unikaksha/' style=' border: 2px rgb(43, 39, 63 ,0.1) solid;\
                        width: 40px;\
                        height: 40px;\
                        vertical-align: middle;\
                        line-height: 46px;\
                        display: inline-block;\
                        border-radius: 100px;\
                        text-align: center;')
                          img(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/facebook.png')
                      td.half(align='center')
                        a(style='border: 2px rgb(43, 39, 63 ,0.1) solid;\
                        width: 40px;\
                        height: 40px;\
                        vertical-align: middle;\
                        line-height: 46px;\
                        display: inline-block;\
                        border-radius: 100px;\
                        text-align: center;' href='')
                          img(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/linkedin.png')
                      td.half(align='center')
                        a(style='border: 2px rgb(43, 39, 63 ,0.1) solid;\
                        width: 40px;\
                        height: 40px;\
                        vertical-align: middle;\
                        line-height: 46px;\
                        display: inline-block;\
                        border-radius: 100px;\
                        text-align: center;' href='https://www.instagram.com/unikaksha/')
                          img(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/insta.png')
                        td.half(align='center')
                        a(style='border: 2px rgb(43, 39, 63 ,0.1) solid;\
                        width: 40px;\
                        height: 40px;\
                        vertical-align: middle;\
                        line-height: 46px;\
                        display: inline-block;\
                        border-radius: 100px;\
                        text-align: center;' href='https://twitter.com/UniKaksha')
                          img(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/twitter.png')
                         td.half(align='center')
                        a(style='border: 2px rgb(43, 39, 63 ,0.1) solid;\
                        width: 40px;\
                        height: 40px;\
                        vertical-align: middle;\
                        line-height: 46px;\
                        display: inline-block;\
                        border-radius: 100px;\
                        text-align: center;' href='https://www.instagram.com/unikaksha/')
                          img(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/youtube.png')
                    tr
                      td(height='20' colspan='6')
        tr
          td(height='15')
